body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.thumb-browser{
  margin: 0 200px;
  width: 200px;
  /* background: yellow; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.thumb-image{
 margin: 5px 0;
}

/* .thumb-browser img{
  width: 200px;
} */

.left-container {
  width: 70%;
  float: left;
  /* background: red; */
}

.full-image{
  width: 50%;
}

.left-container-image-container{
  margin: 0 auto;
}
.right-container{
  width: 25%;
  /* background: green; */
  float: left;
}