/* GLOBAL--------------------------------- */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:focus { 
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 10px #719ECE;
}
/* 
header section ------------------------------- */
.App-header h1, .logout-div{
  display: inline-block;
  width: 33%;
  margin: 15px 0 0 0;
  text-transform: uppercase;
}

.not-authorized input{
  color: white;
  font-family: Roboto;
  background: rgba(229, 107, 111, .2);
  height: 50px;
  width: 170px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 2px solid gray;
  box-shadow: 2px 2px 2px rgb(25, 8, 29);
}

.not-authorized:hover input{
  background: rgba(229, 107, 111, .9);
  font: outline;
  border: 2px solid black;
}

.logout-div{
  text-align: center;
}

.logout-div button{
  background: url('/images/logout.png') no-repeat;
  background-size: 25px 25px;
  background-color: RGB(109, 89, 122);
  height: 30px;
  width: 30px;
}

.lougout-div:hover{
  cursor: pointer;
}

.App-header h4{
  text-transform: uppercase;
  margin: 20px;
}

.authorized {
  margin-bottom: 10px;
}
/* container --------------------------------------- */
/* .container {
  height: 100px;
  overflow: none;
} */
.container h3{
  color: rgb(103, 122, 179);
}

/* .thumb-browser img{
  width: 200px;
} */

.left-container {
  min-width: 400px;
  width: 70%;
  max-width: 1000px;
  float: left;
}

.full-image{
  width: 90%;
}

.left-container-image-container{
  margin: 0 auto;
  width: 90%;
  height: 50vh;
  box-shadow: inset 3px 3px 30px 3px rgba(172, 125, 179, 0.233);
}

.left-container-image-container img {
  width: auto;
  height: auto;
  max-height: 50vh;
  max-width: 100%;
  border-radius: 10px;
  
}

.label{
  text-align: right;
  font-size: 15px;
  width: 125px;
}

.tags-main{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: rgb(35, 73, 51);
  width: 400px;
  height: 20px;
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid lightblue;
}

.line{
  height: 40px;
}

 .line-2, .line-3{
   height: 35px;
  clear:both;
}
.no-edit{
  color: rgb(83, 69, 69);
  border: none;
  width: 600px;
}
.tag-section{
  margin: 5px 15px;
}

.tag-section h3, .tag-section input{
  margin: 0 10px;
  float: left;
}

.container{
  display: none;
}


/* Middle container section ----------------------------------------- */
.middle-container{
  width: 300px;
  float: left;
  height: 70vh;
  overflow-y: auto;
  background: rgb(109, 89, 122);
  border-radius: 10px;
}

.tag-search{
  margin: 0 10px;
  text-transform: uppercase;

}
.custom-tag-input{
  height: 20px;
  text-align: center; 
  font-weight: bold;
  color: rgb(29, 49, 29);
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px dotted purple;
}
/* 
Right container section ----------------------------------------------- */
.right-container{
  max-height: 70vh;
  overflow-y: auto;
  width: 350px;
  min-width: 350px;
  /* background: green; */
  float: right;
  margin-right: 10%;
}

.right-container::-webkit-scrollbar {
  background: RGB(234, 172, 139, .2);
}

.right-container::-webkit-scrollbar-thumb {
  background: RGB(181, 101, 118);
  border-radius: 7px;
}

.thumb-browser{
  text-transform: uppercase;
  margin: 0;
  width: 350px;
  /* background: yellow; */
  display: flex;
  flex-flow: row wrap;
}

.refresh-icon-div button{
  width: 25px;
  height: 25px;
  border: 2px solid rgb(63, 63, 172);
  border-radius: 5px;
  opacity: .6;
  background: url('/images/refresh_icon.svg') no-repeat;
  background-size: 20px 20px;
}

.refresh-icon-div:hover button{
  opacity: 1;
  cursor: pointer;
}

.thumb-browser:hover img{
  opacity: 1;
}
.thumb-heading{
  display: inline-block;
}
.thumb-image{
  height: 144px;
  width: 350px;
  margin: 10px 0;
  
}

.thumb-image img{
  height: 144px;
  width: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  border-radius: 5px;
}


