body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.thumb-browser{
  margin: 0 20px;
  width: 300px;
  /* background: yellow; */
  display: flex;
  flex-flow: row wrap;
}

.thumb-image{
 margin: 5px 0;
}

/* .thumb-browser img{
  width: 200px;
} */

.left-container {
  width: 70%;
  max-width: 800px;
  float: left;
  /* background: red; */
}

.full-image{
  width: 90%;
}

.left-container-image-container{
  margin: 0 auto;
}

.line-2, .line-3{
  clear:both;
}
.no-edit{
  
}
.tag-section{
  margin: 5px 15px;
}

.tag-section h3, .tag-section input{
  margin: 0 10px;
  float: left;
}

.middle-container{
  float: left;
  background: orange;
}

.right-container{
  min-width: 250px;
  background: green;
  float: left;
}